.single-post {
    &__header {
        padding: 10em 0;

        h1 {
            margin: 0;
        }

        p {
            margin: 0 5px !important;
        }
    }

    &__content {
        padding: 3em 0 !important;
    }
}
