.card {
    a {
        margin: 0 0 30px 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        background: $white;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
        transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:hover {
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
            transform: translateY(-3px);
        }
    }

    &--featured {
        a {
            flex-direction: row;
        }
    }

    .title {
        margin: 0;
        padding: 30px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            margin: 30px;
            font-size: 18px;
        }

        .tag {
            background: $blue;
            color: $white;
            padding: 5px;
        }
    }
}
