.footer {
    position: relative;
    z-index: 3;
    a {
        color: $white;
        font-family: $text-family;
    }

    ul {
        li {
            list-style: none;
            padding: 5px 0;
            font-size: 16px;
        }
    }

    &__social {
        text-align: center;
        padding: 20px 0;

        a {
            text-decoration: none;

            svg {
                transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            &:hover,
            &:focus {
                svg {
                    transform: translateY(-3px);
                }
            }
        }
    }

    &__logo {
        display: flex;
        transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        align-items: center;
        img {
            max-width: 100px;
        }

        &:hover,
        &:focus {
            transform: translateY(-3px);
        }
    }

    &__docs-list {
        text-align: center;
    }

    &__general-links {
        text-align: right;
    }
}
