.home-sponsors {
    max-width: 100%;
    padding-bottom: 30px;
    &__title {
        color: $blue;
        -webkit-text-fill-color: $white;
        -webkit-text-stroke: 2px $blue;
    }

    &__logo {
        display: flex;
        align-items: center;
        width: 100%;
        transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        margin: 20px 0;

        &:hover,
        &.focus {
            transform: translateY(-5px);
        }
    }

    .row {
        margin: 0 30px;
    }
}
