form {
    font-size: 16px;
    input {
        padding: 10px 20px;
        border: none;
        outline: none;
        color: $blue;
        margin-bottom: 30px;
    }

    .email {
        margin: 15px 0;
    }
}
