.menu-icon {
    position: fixed;
    background: $blue;
    color: $white;
    z-index: 9999;
    top: 3%;
    right: 3%;
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transform: rotate(180deg);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

    .goals-wrapper {
        width: 30px;

        .goal,
        .point {
            height: 3px;
            background: $white;
        }

        .point {
            width: 60%;
        }

        .goal {
            width: 100%;
            margin: 3px 0;
        }
    }

    &.open {
        background-color: $white;
        transform: rotate(-90deg);

        .goal,
        .point {
            background-color: $blue;
        }
    }
}

.menu {
    width: 100%;
    position: fixed;
    top: 0;
    font-family: $heading-family;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 2;
    transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    // transform: translateX(0);

    // &.open {
    //     transform: translateX(100%);
    // }

    .logo {
        width: 50px;
    }
    ul {
        width: 100%;
        max-width: 1300px;
        padding: 0 20px;
        @media (min-width: 1320px) {
            padding: 0;
        }
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        li {
            text-align: left;
            a {
                text-decoration: none;
                font-size: 18px;
            }
        }
    }
}
