body {
    margin: 85px 0 0 0;
    padding: 0;
    background-color: $blue;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

section {
    padding: 30px 0 0;
    position: relative;
    &.row {
        align-items: center;
    }
}

.blue-bg {
    background-color: $background-colour;

    color: $white;

    .prev,
    .next {
        text-decoration: none;
        svg {
            transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

            path {
                fill: $white;
            }
        }
    }

    ::selection {
        background: $white;
        color: $blue;
    }
}

.white-bg {
    background-color: $white;

    color: $blue;

    .prev,
    .next {
        text-decoration: none;
        svg {
            transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

            path {
                fill: $blue;
            }
        }
    }

    ::selection {
        background: $blue;
        color: $white;
    }
}

.small-logo {
    height: 50px;
}

.prev,
.next {
    &:hover {
        svg {
            transform: scale(1.1);
        }
    }
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}
