<footer class="footer blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 footer__social">
                {% include 'partials/social-links.html' %}
            </div>
            <div class="col-md-3">
                {% include 'partials/mailchimp.html' %}
            </div>
            <div class="col-md-6 footer__docs-list">
                <a href="" class="list"></a>
            </div>
            <div class="col-md-3 footer__general-links">
                <ul>
                    <li>
                        <a href="#" class='scroll-top'>Back To Top</a>
                    </li>
                    <li>
                        <a href="http://whitfordafc.com.au/privacy-policy">privacy policy</a>
                    </li>
                    <li>
                        <a href="http://whitfordafc.com.au/terms-conditions">terms and conditions</a>
                    </li>
                    <li>
                        <a href="">sitemap</a>
                    </li>
                    <li>site by <a href="https://jpittard.net" target="_blank">this guy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKvpAlGVJ3av-hDI2r9iPHgymk8NKLvLU&?callback=initMap"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({once: true});
</script>

<script src="/scripts/app-bundle.js"></script>
</body>
</html>