<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{{ title }}</title>
        <meta name="description" content="Development, Design and Consulting services to build a better internet"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:site" content="@nosuchmanasjezz"/>
        <meta name="twitter:title" content="Web Cosnultant"/>
        <meta name="twitter:description" content="Development, Design and Consulting services to build a better internet"/>
        <meta name="twitter:creator" content="@nosuchmanasjezz"/>
        <meta name="twitter:image" content="jpittard.net/jpittarlogo.png"/>
        <meta property="og:title" content="JPittard Web"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="jpittard.net"/>
        <meta property="og:image" content="jpittard.net/jpittarlogo.png"/>
        <meta property="og:description" content="Development, Design and Consulting services to build a better internet"/>
        <meta property="og:site_name" content="JPittard Web"/>
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png"/>
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png"/>
        <link rel="icon" type="image/png" href="favicon.ico" sizes="32x32"/>
        <link rel="icon" type="image/png" href="favicon.ico" sizes="16x16"/>
        <link rel="stylesheet" href="/styles/index.css"/>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#4285f4"/>
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#4285f4"/>
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#4285f4"/>
    </head>

    <body class="{{ title }}" >