<section class="blue-bg home-news">
    <div class="container">
        <div class="row">
            {%- for post in collections.post | reverse -%} {% if loop.index0 < 1
            %}
            <article data-aos="fade" class="col-md-12 card card--featured">
                <a href="{{post.url}}">
                    <img
                        src=" https://res.cloudinary.com/whitfordfafcimages/image/upload/c_crop,g_faces,h_463,w_617/{{post.data.image}}"
                    />
                    <div class="card__text white-bg">
                        <h2 class="title">
                            {{post.data.title}}
                        </h2>

                        {% if post.data.publishDate %}
                        <p>
                            Published on:
                            <time datetime="{{post.data.publisDate}}"
                                >{{post.data.publishDate}}</time
                            >
                            | <span class="tag"> News </span>
                        </p>
                        {% else %}
                        <p>
                            Event on:
                            <time datetime="{{post.data.publisDate}}"
                                >{{post.data.evemtDate}}</time
                            >
                            | <span class="tag"> Event </span>
                        </p>
                        {% endif %}
                    </div>
                </a>
            </article>
            {%endif%} {% if (loop.index0 > 1) and (loop.index0 < 5) %}
            <article
                data-aos="fade-up"
                data-aos-delay="{{loop.index - 3}}00"
                class="col-md-4 card"
            >
                <a href="{{post.url}}">
                    <img
                        src=" https://res.cloudinary.com/whitfordfafcimages/image/upload/c_crop,g_faces,h_293,w_391/{{post.data.image}}"
                    />
                    <div class="card__text white-bg">
                        <h3 class="title">
                            {{post.data.title}}
                        </h3>
                        {% if post.data.publishDate %}
                        <p>
                            Published on:
                            <time datetime="{{post.data.publisDate}}"
                                >{{post.data.publishDate}}</time
                            >
                            | <span class="tag"> News </span>
                        </p>
                        {% else %}
                        <p>
                            Event on:
                            <time datetime="{{post.data.publisDate}}"
                                >{{post.data.eventDate}}</time
                            >
                            | <span class="tag"> Event </span>
                        </p>
                        {% endif %}
                    </div>
                </a>
            </article>
            {%endif%} {% if (loop.index0 > 5) and (loop.index0 < 9) %}
            <article
                data-aos="fade-up"
                data-aos-delay="{{loop.index - 7}}00"
                class="col-md-4 card"
            >
                <a href="{{post.url}}">
                    <img
                        src=" https://res.cloudinary.com/whitfordfafcimages/image/upload/c_crop,g_faces,h_293,w_391/{{post.data.image}}"
                    />
                    <div class="card__text white-bg">
                        <h3 class="title">
                            {{post.data.title}}
                        </h3>
                        {% if post.data.publishDate %}
                        <p>
                            Published on:
                            <time datetime="{{post.data.publisDate}}"
                                >{{post.data.publishDate}}</time
                            >
                            | <span class="tag"> News </span>
                        </p>
                        {% else %}
                        <p>
                            Event on:
                            <time datetime="{{post.data.publisDate}}"
                                >{{post.data.eventDate}}</time
                            >
                            | <span class="tag"> Event </span>
                        </p>
                        {% endif %}
                    </div>
                </a>
            </article>
            {%endif%} {% if (loop.index0 > 9) and (loop.index0 < 13) %}
            <article
                data-aos="fade-up"
                data-aos-delay="{{loop.index - 11}}00"
                class="col-md-4 card"
            >
                <a href="{{post.url}}">
                    <img
                        src=" https://res.cloudinary.com/whitfordfafcimages/image/upload/c_crop,g_faces,h_293,w_391/{{post.data.image}}"
                    />
                    <div class="card__text white-bg">
                        <h3 class="title">
                            {{post.data.title}} {{loop.index}}
                        </h3>
                        {% if post.data.publishDate %}
                        <p>
                            Published on:
                            <time datetime="{{post.data.publisDate}}"
                                >{{post.data.publishDate}}</time
                            >
                            | <span class="tag"> News </span>
                        </p>
                        {% else %}
                        <p>
                            Event on:
                            <time datetime="{{post.data.publisDate}}"
                                >{{post.data.eventDate}}</time
                            >
                            | <span class="tag"> Event </span>
                        </p>
                        {% endif %}
                    </div>
                </a>
            </article>
            {%endif%} {%endfor%}
        </div>
    </div>
</section>
