<section class="home-sponsors white-bg" id="sponsors">
    <div class="container">
        <div class="row">
            <h2 class="col-md-12">Our Friends</h2>
            {%- for sponsor in collections.sponsors -%}
            <a
                href="{{ sponsor.data.websiteLink }}"
                class="home-sponsors__logo col-md-2"
                target="_blank"
                title="{{ sponsor.data.title }}"
                ><img
                    src="{{ sponsor.data.image }}"
                    alt="{{ sponsor.data.title }}"
            /></a>
            {%- endfor -%}
        </div>
    </div>
</section>
