{# <div class="menu-icon mobile">
    <div class="goals-wrapper">
        <div class="bar point"></div>
        <div class="bar goal"></div>
        <div class="bar goal"></div>
        <div class="bar point"></div>
    </div>
</div> #}

<nav data-aos="fade-right" class="menu blue-bg">
    <ul>
        <li>
            <a href="/">WhitfordAFC</a>
        </li>
        <li>
            <a href="/news/index.html">News</a>
        </li>
        <li>
            <a href="/events/index.html">Events</a>
        </li>
        <li>
            <a href="/sponsors/index.html">Sponsors</a>
        </li>
        <li>
            <a href="/honour-boards/index.html">Honour Boards</a>
        </li>
        <li>
            <a href="/policies/index.html">Policies</a>
        </li>
        <li>
            <a href="/contact/index.html">Contact</a>
        </li>
        <li>
            <a href="#">Merch</a>
        </li>
    </ul>
</nav>