<a href="https://www.facebook.com/whitfordafc" target="_blank">{% include 'svg/fb.svg' %}</a>
<a href="https://twitter.com/WhitfordAFC" target="_blank">{% include 'svg/tweet.svg' %}</a>
<a href="https://www.instagram.com/whitfordafc/" target="_blank">{% include 'svg/insta.svg' %}</a>
