@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap");

$text-colour: $white;
$font-family: "Montserrat", sans-serif;
$text-family: "Monsterrat", sans-serif;
$heading-family: "Raleway", sans-serif;

:root {
    font-family: $text-family;
    font-size: 22px;
    color: $text-colour;
}

h1,
h2 {
    color: inherit;
    font-family: $heading-family;
    font-weight: normal;
    // &-alt {
    //     color: $alt-heading-colour;
    // }
}

h1 {
    font-size: 60px;
    letter-spacing: 6px;
}

h2 {
    font-size: 45px;
}

h2.large {
    font-size: 60px;
    line-height: 60px;
    text-decoration: none;

    @media (min-width: 1024px) {
        font-size: 80px;
        line-height: 80px;
    }
}

.h3 {
    color: inherit;
    font-family: $font-family;
}

.small-text {
    font-family: $text-family;
    font-size: 14px;
    letter-spacing: 3px;
    color: inherit;
    text-decoration: none;
}

a {
    color: inherit;
}
