{% include 'partials/head.html' %}
{% include 'partials/navigation.html' %}
<section class="blue-bg single-post__header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1  data-aos="fade">
                    {{title}}
                </h1 >
                <p data-aos="fade">Event on: {{eventDate}}</p>
            </div>
        </div>
    </div>
</section>
<section class="single-post__content white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ content | safe }}
            </div>
            <div class="col-md-4">
                {%- for post in collections.post | reverse -%}
                    {% if loop.index0 <
            3%}
                        <article class="card">
                            <a href="{{post.url}}">
                                <img
                        src=" https://res.cloudinary.com/whitfordfafcimages/image/upload/c_crop,g_faces,h_293,w_391/{{post.data.image}}"
/>
                                <div class="card__text white-bg">
                                    <h3 class="title">
                                        {{post.data.title}}
                                    </h3>
                                    {% if post.data.publishDate %}
                                        <p>
                            Published on:
                            <time datetime="{{post.data.publisDate}}"
                                >{{post.data.publishDate}}</time
                            >
                            | <span class="tag"> News </span>
                                        </p>
                                    {% else %}
                                        <p>
                            Event on:
                            <time datetime="{{post.data.publisDate}}"
                                >{{post.data.eventDate}}</time
                            >
                            | <span class="tag"> Event </span>
                                        </p>
                                    {% endif %}
                                </div>
                            </a>
                        </article>

                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% include 'partials/footer.html' %}